:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Bodoni Moda", sans-serif;
  font-style: normal;
}
body {

}
.Ai_name{
  background: linear-gradient(to right, rgb(68,166,218) 30%, red);
  color:transparent;
  background-clip: text;
}
.container{
  width:100vw;;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.doraemon{
  position:sticky;
  width:300px;
  filter:drop-shadow(4px 4px 50px rgb(68, 166, 218));
}
.button{
  background-color: rgb(68, 166, 218);
  font-size: 20px;
  color:white;
  border:none;
  padding:5px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width:400px;
  height:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap:10px;
  border-radius: 10px;
}
.ques_ans{
  width:400px;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  padding:10px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 5px;
}
.ques_ans::-webkit-scrollbar{
  display: none;
}
@media(max-width:500px){
  .ques_ans{
    width:90%;
  }
}

